@font-face{
    font-family: glober;
    src: url('../fonts/Glober/Glober\ Bold\ Free.otf');
}

.products{
    display:flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.welcome-container{
    display:flex;
    background-color: #cbcbcb;
    flex-flow: column wrap;
    padding-top: 120px;
}

@media screen and (max-width:570px){
    .welcome-container{
        padding-top:100px;
    }
}

.welcome-top-headers-container{
    display:flex;
    margin-top: auto;
    flex-flow: column wrap;
}

.welcome-header{
    color: black;
    font-family: "glober", "Geneva", "Tahoma", "sans-serif";
    font-size: 5vmin;
    text-align: center;
}

.welcome-subheader{
    color: #0071ce;
    font-family: "glober", "Geneva", "Tahoma", "sans-serif";
    font-size: 4vmin;
    text-align: center;
}

.welcome-bottom-headers-container{
    display:flex;
    margin-bottom: auto;
    flex-flow: column wrap;
}

.welcome-subsubheader{
    color: black;
    font-family: "glober", "Geneva", "Tahoma", "sans-serif";
    font-size: 2vmin;
    padding-bottom: 1%;
    text-align: center;
}

@media screen and (max-width: 600px){
    .welcome-subsubheader{
        font-size: 3.4vmin;
    }
}

.project-spotlight{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #cbcbcb;
    padding-bottom: 10px;
    margin-top: 8px;
    border-radius: 8px;
}

.spotlight-row{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}

.project-spotlight a{
    align-self:center;
}

.project-details{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-details p{
    align-self: center;
}

.project-image img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.product-image img {
    max-width: 100%;
    padding: 2%;
    flex-shrink: 1;
}

.team-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.team-member-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }